@import url("../fonts/fontface.css");

:root {
  --font-headline: "Ginto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-primary: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --bg-color: rgb(246, 246, 246);
  --body-color: #fff;
  --footer-bg: rgb(35, 39, 42);
  --hero-color: rgb(64, 78, 237);
  --main-heading: #fff;
  --main-text: rgb(50, 53, 56);
  --primary-color: rgb(88, 101, 242);
  --sub-heading: rgb(35, 39, 42);

  --border-radius: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: var(--font-primary);
}

body {
  background-color: var(--body-color);
  color: var(--main-text);
  overflow-x: hidden;
}

/* -------- Flag Drop down ------------*/

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 180px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.dropdown .icon-arrow-down {
  font-size: 20px;
}

.dropdown-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.dropdown-btn img,
.lang-item img {
  width: auto;
  height: 15px;
  margin: 0;
}
.dropdown-wraper {
  display: none;
}
.lang-list {
  position: absolute;
  top: 45px;
  left: 0;
  cursor: pointer;
  max-height: 250px;
  overflow-y: scroll;
}
.lang-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.lang-item:hover {
  background-color: rgb(211, 211, 211);
}
.lang-text {
  margin-top: 0;
  font-size: 16px;
}

/* show list */

.show-list {
  display: block;
}

/* hero - header */
.hero-bg {
  background-color: var(--hero-color);
  position: relative;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  z-index: 100;
}

.logo {
  height: 35px;
}
.navbar-list {
  display: flex;
  gap: 2.5rem;
}

.navbar-list a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--body-color);
}
.navbar-list a:hover {
  text-decoration: underline;
}

.hero-wraper {
  position: relative;
  max-width: 1600px;
  height: 100%;
  margin: auto;
  background: url("../images/e6d57714479874c665b36c7adee76b1d.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  max-width: 750px;
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.hero-left-image {
  max-width: 600px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: -20%;
}

.hero-right-image {
  max-width: 600px;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: -15%;
}

.hero-left-image img,
.hero-right-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content h1 {
  font-family: var(--font-headline);
  color: var(--body-color);
}
.hero-content p {
  color: var(--body-color);
  line-height: 1.6;
  letter-spacing: 1px;
}

.hero-content .btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.mobile-menu {
  display: none;
}
.mobile-menu i {
  font-size: 1.65rem;
  color: var(--bg-color);
}
/* mobile-panel */

.mobile-wraper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.mobile-wraper.mobile-wraper-active {
  display: block;
}
.mobile-panel {
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: var(--body-color);
  padding: 1.5rem;
}

.mobile-panel.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  animation: slidePanelOpen 0.5s;
}

@keyframes slidePanelOpen {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.mobile-header img {
  display: inline-block;
  width: 140px;
  height: 40px;
  filter: invert();
}
.mobile-header i {
  filter: invert(0);
  font-size: 1.65rem;
  cursor: pointer;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: left;
  padding: 2rem 1rem;
}
.mobile-list a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--main-text);
}
.mobile-list a:hover {
  text-decoration: underline;
}
.mobile-btn a {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
.mobile-btn a:hover {
  color: var(--bg-color);
}

/* bg-images */
