<div class="dropdown">
  <div class="dropdown-btn">
    <img src="/images/flags/India.svg" alt="" class="selected-img" />
    <div class="selected-text">India</div>
  </div>
  <span class="icon-arrow-down">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="13"
      width="13"
      viewBox="0 0 512 512"
    >
      <path
        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
      /></svg
  ></span>

  <div class="lang-list dropdown-wraper">
    <div class="lang-item">
      <img src="./images/flags/Australia.svg" alt="" />
      <div class="lang-text">Australia</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/Bangladesh.svg" alt="" />
      <div class="lang-text">Bangladesh</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/Bulgaria.svg" alt="" />
      <div class="lang-text">Bulgaria</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/CzechRepublic.svg" alt="" />
      <div class="lang-text">Czech Republic</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/England.svg" alt="" />
      <div class="lang-text">England</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/Nepal.svg" alt="" />
      <div class="lang-text">Nepal</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/Russia.svg" alt="" />
      <div class="lang-text">Russia</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/Tunisia.svg" alt="" />
      <div class="lang-text">Tunisia</div>
    </div>

    <div class="lang-item">
      <img src="./images/flags/UnitedStates.svg" alt="" />
      <div class="lang-text">United States</div>
    </div>
  </div>
</div>
